@import '../../src/fonts/fonts.css'
@import './../../node_modules/stylus-mixins/index.styl'


body
  background #fff
  color #000
  font-family 'TT_Norms'
  margin 0
  overflow hidden
  height 100vh
  @media all and (orientation: landscape) and (max-width: 600px)
    position relative
    min-height 520px
    height auto
    overflow auto
a
  color inherit 
  text-decoration none

.layout 
    width 1440px
    width-between-property 'padding-left', 768, 80, 1440, 150, true, true 
    box-sizing border-box
    margin auto
    height 100%
    +width-lessthan(600)
      width-between-property 'padding-left', 320, 20, 600, 80, true, true 
      width 100%

.logo
  width-between-property 'padding-top', 320, 20, 600, 120, true, true
  width-between-property 'width', 320, 256, 600, 480, true, true
  @media all and (orientation: landscape) and (max-width: 600px)
    padding-top 40px
  svg
    width 100%

.contacts 
  margin-top 221px
  font-size 20px
  +width-lessthan(600)
    width-between-property 'margin-top', 320, 20, 600, 221, true, true 
    font-size 20px
  @media all and (orientation: landscape) and (max-width: 600px)
    margin-top 20px !important
  a 
    +width-lessthan(768)
      display block
      line-height 1.6

.bottom
  position absolute
  width 100%
  width-between-property 'bottom', 320, 42, 600, 122, true, true
  @media all and (orientation: landscape) and (max-width: 600px)
    bottom 42px !important
  &__content
    display inline-block
    float left
    +width-lessthan(768)
      width 100%
    
  &__img
    display inline-block
    position relative
    width-between-property 'top', 768, -78, 1150, -95, true, true
    width-between-property 'width', 768, 302, 1440, 657, true, true
    width-between-property 'margin-left', 768, 10, 1440, 0, true, true
    +width-lessthan(768)
      margin-left 0
      top 0
      width-between-property 'width', 320, 276, 600, 415, true, true
     
    
    &:after
      content ''
      display block
      position absolute
      height 2px
      width 3000px
      background-color #000
      width-between-property 'bottom', 768, 32, 1440, 4, true, true
      left 93%
      +width-lessthan(768)
        display none
    svg 
      width 100%
      

  &__title
    font-weight 500
    text-transform uppercase
    letter-spacing  6px
    width-between-property 'font-size', 768, 21, 1440, 40, true, true
    +width-lessthan(600)
      width-between-property 'letter-spacing', 320, 1.9, 600, 6, true, true
      width-between-property 'font-size', 320, 17, 600, 21, true, true
      

  &__text
    width-between-property 'font-size', 768, 13, 1440, 24, true, true
    +width-lessthan(600)
      width-between-property 'font-size', 320, 13, 600, 13, true, true
      
    

.dash
  width 30px
  height 2px
  margin 0 20px
  background-color #000
  display inline-block
  vertical-align middle
  +width-lessthan(768)
    display none