doctype html
html
  head
    title Arc
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    //- Stylesheet
    link(rel='stylesheet', href='./css/style.css')
    //- JavaScript
    script(src='./js/main.js')
  body
    .layout
      .logo
        include ./img/logo.svg
      .contacts 
        a(href="tel:+74950883613") + 7 495 088 36 13 
        span.dash
        a(href="mailto:hireus@arc-fitout.com") hireus@arc-fitout.com
      .bottom
        .bottom__img
          include ./img/group.svg
        .bottom__content
          .bottom__title Сайт на реконструкции
          .bottom__text Мы скоро запустимся
